@charset "utf-8";
/*
----------------------------------------

    VARIABLES
    
----------------------------------------
*/
/*
----------------------------------------

    SHORTCUTS
    
----------------------------------------
*/
/*
----------------------------------------

    RESET
    
----------------------------------------
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/*
----------------------------------------

    FONTS
    
----------------------------------------
*/
@font-face {
  font-family: 'Mathlete-Skinny';
  src: url('../fonts/mathleteskinny.eot');
  src: url('../fonts/mathleteskinny.eot') format('embedded-opentype'), url('../fonts/mathleteskinny.woff') format('woff'), url('../fonts/mathleteskinny.ttf') format('truetype'), url('../fonts/mathleteskinny.svg#mathleteskinny') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mathlete-Bulky';
  src: url('../fonts/mathletebulky.eot');
  src: url('../fonts/mathletebulky.eot') format('embedded-opentype'), url('../fonts/mathletebulky.woff') format('woff'), url('../fonts/mathletebulky.ttf') format('truetype'), url('../fonts/mathletebulky.svg#mathletebulky') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
----------------------------------------

    COMMON
    
----------------------------------------
*/
/*
----------------------------------------

    BUTTONS
    
----------------------------------------
*/
/*
----------------------------------------

    GLOBAL
    
----------------------------------------
*/
body {
  background: #000;
  overflow: hidden;
}
/*
----------------------------------------

    HEADER
    
----------------------------------------
*/
body #loader {
  background: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  display: none;
}
body #loader .wrapper {
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin: -110px 0 0 -50px;
}
body #loader .wrapper > span {
  display: block;
  height: 150px;
  width: 95px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -47px;
  background: url(../img/baloons.png);
  background-repeat: repeat-y;
}
body #loader .wrapper p.loading_status {
  display: block;
  color: #FFF;
  font-size: 30px;
  font-family: 'Mathlete-Skinny';
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -47px;
}
body #main {
  width: 100%;
  height: 100%;
  background: url(../img/black_pixel.png);
  z-index: 1;
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;
}
body .fb-like {
  width: 440px;
  height: 70px;
  position: absolute !important;
  z-index: 4;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -220px;
  display: block;
}
body.loading .fb-like {
  opacity: 0;
}
#vimeo_trailer {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -270px 0 0 -480px;
  z-index: 4;
}
header {
  width: 350px;
  height: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -175px;
  z-index: 2;
  text-align: center;
}
header > span {
  display: block;
  height: 150px;
  width: 95px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin: 0 0 0 -47px;
  background: url(../img/baloons.png);
  background-repeat: repeat-y;
}
header h1 {
  font-family: 'Mathlete-Bulky';
  font-size: 161px;
  color: #FFF;
  font-weight: normal;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 100%;
}
header h2 {
  font-family: 'Mathlete-Skinny';
  font-size: 36px;
  color: #FFF;
  position: absolute;
  top: 300px;
  left: 0px;
  width: 100%;
}
header a {
  font-family: 'Mathlete-Bulky';
  font-size: 36px;
  color: #FFF;
  font-weight: normal;
  background: url(../img/play.png) no-repeat 35px 27px;
  height: 100px;
  width: 190px;
  line-height: 100px;
  text-align: left;
  display: block;
  margin: 0 0 0 -150px;
  padding: 0 0 0 110px;
  position: absolute;
  bottom: 0px;
  left: 50%;
}
#close_trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 450px;
  text-indent: -9000px;
  z-index: 4;
  display: none;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) no-repeat center center;
}
nav ul {
  width: 442px;
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -221px;
  z-index: 2;
}
nav ul li {
  float: left;
}
nav ul li a {
  font-family: 'Mathlete-Bulky';
  font-size: 28px;
  color: #FFF;
  display: inline-block;
  padding: 0 25px;
  height: 60px;
  line-height: 60px;
}
#social_links {
  width: 120px;
  display: block;
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 2;
}
#social_links li {
  float: left;
}
#social_links li a {
  font-family: 'Mathlete-Bulky';
  font-size: 28px;
  color: #FFF;
  display: inline-block;
  padding: 0 7px;
  width: 25px;
  height: 60px;
  line-height: 60px;
  text-indent: -9000px;
}
#social_links li:nth-child(1) a {
  background: url(../img/twitter.png) no-repeat center center;
}
#social_links li:nth-child(2) a {
  background: url(../img/facebook.png) no-repeat center center;
}
#social_links li:nth-child(3) a {
  background: url(../img/mute.png) no-repeat center center;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video-background video {
  min-height: 100%;
  min-width: 100%;
}
/*
----------------------------------------

    FOOTER
    
----------------------------------------
*/
@media screen and (max-height: 800px) {
  header {
    margin-top: -310px;
    height: 460px;
  }
  #vimeo_trailer {
    width: 500px;
    height: 281px;
    margin-top: -200px;
    margin-left: -250px;
  }
  a#close_trailer {
    margin: 0 0 0 -221px;
  }
}
